body {
	font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 50px;
}

#intro {
    font-size: 1.3em;
}

input,select,textarea {
	align: center;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 3px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	-webkit-transition: 0.5s;
}

input[type=text]:focus {
	border: 3px solid #555;
	outline: none;
}

input[type=email]:focus{
	border: 3px solid #555;
	outline: none;
}

textarea:focus{
	border: 3px solid #555;
	outline: none;
}

input[type=submit] {
	align: center;
	width: 100%;
	background-color: #333;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: red;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, tr{
	padding: 10px;
	text-align: left;
}

th {
  background-color: #333;
  color: white;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 0px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #333; 
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.button1:hover {
  background-color: red;
  color: white;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 50px;
}

.navbar {
	overflow: hidden;
	background-color: #333;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: red;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}